table{
	border-collapse: collapse;
	width: 100%;
	border: 2px solid red;
}
th, td{
	text-align: left;
	padding: 8px;
	
}
tr:nth-child(even){
	background: #F2F2F2;
}
th{
	background: #4CAF50;
	color: #FFF;
}