.table{


    width: 100%;
    
    margin-bottom: 10px;

}
.table table{
    width: 100%;
}

.table h3{
    text-align: center;
    padding: 20px;

}
.table table th a{
    color: #f3f3f3;
}

table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    text-align: center;
    height: 50px;
    background: #003f54;
    color: #f3f3f3;
    padding: 5px;
}
td{
    vertical-align: bottom;
    padding: 5px;
    text-align: center;
}
@media (max-width: 900px){

    .table table th,.table table td {
        display: block;
        clear: both;
        width: 95%;
    }
    table th, table td {
        display: block;
        clear: both;
        width: 95%;
    }

}
.pagination{

}

.pages {
    padding: 10px 14px;
    color: #000000;
    border-radius: 50%;
    text-decoration: none;
    margin: 0px 6px;
    font-size: 0.9em;
}

.pages:hover {
    color: #ffffff;
    background: #666;
}

.current {
    padding: 10px 14px;
    color: #ffffff;
    background: #73AD21;
    text-decoration: none;
    border-radius: 50%;
    margin: 0px 6px;
}

.table {
    width: 100%;
    border-spacing: 0px;
   
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;
}

.table th {
    padding: 10px;
    border-bottom: 1px solid #d9d9d9;
    
    text-align: center;
}
#form{
    width: 50%; 
}
#form button{
    outline: none;
    border-radius: 5px 5px;
    cursor: pointer;
    margin: 18px 0;
    padding: 20px 40px;
    background: #FFD152;
    font-family: Roboto;
    color:  #282627;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;

}
#form input{
    width: 40%;
    margin: 2em 0;
    background: none;
    border: 1px solid #8D8273;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: rgb(211, 165, 100);
}

#form input:focus, #form textarea:focus{
    border: 2px solid #AEE;
    outline: none;
    border: 2px solid #8D8273;
}

input::placeholder, textarea::placeholder{
    color: #8D8273;
    text-transform: uppercase;
    font-weight: 400;
}
@media screen and (max-width: 580px){
    #form{
        width: 100%;
    }
    input::placeholder{
        font-size: 12px;
    }
}

.nav{

    position: relative;
    width: 100%;
    z-index: 1;
}
.nav ul{
    list-style: none;
    background: #003f54;    
    overflow: hidden;
    
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
}
.nav.grey ul {
    background: #003f54;
    width: 100%;
}
.nav ul li{
    display: inline-block;
    padding:20px;
}
.nav ul li a{
    text-decoration: none;
    color: #FFD152;
    font-size: 15px;
    font-weight: bolder;
}
.nav ul li a:hover{
    text-decoration: none;
    color: #FF9CFC;
    font-size: 15px;
    font-weight: bolder;
}

@media(max-width: 800px)  {

    .nav ul{
        
        max-height: 30em;
    }
    .nav ul li{
        box-sizing: border-box;
        width: 100%;
        padding: 24px 0;
        text-align: center;

    }
    
    
}
.containtop{
    width: 100%;
}
.top{
    float: left;
    width: 20%;
    padding: 5px;
    
    position: fixed;
}
.top:after{
    clear: both;
}