
body{
    font-family: Roboto;
    margin: 0;

   

}

.container{
    max-width: 1600px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
}
.containerAdmin{
    margin-top: 70px;

}

@media screen and (max-width: 580px){
    .container{
        padding: 0 2rem;
    }
}

h1, h2, h3{
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 8px;
}

h1{
    font-size: 54px;
    color:  #efecec;
    text-shadow: 2px 3px 5px #666666;
    line-height: 50px;
    font-weight: 400;
}

h2{
    font-size: 42px;
    color: #fff;
}

h3{
    font-size: 28px;
    color:  #fff;
}

h4{
    font-size: 20px;
    color:  #fff;
    font-weight: 400;
    margin-bottom: 0;
}

p{
   margin: 0 10px;
   color: #333;
   text-transform: uppercase;
   font-weight: bolder;
}

strong{
    font-weight: 700;
}

@media screen and (max-width: 580px){
    h1{
        font-size: 18px;
    }
    h2{
        font-size: 16px;
    }
    h3{
        font-size: 14px;
    }
    h4{
        font-size: 12px;
    }
    p{
        font-size: 12px;
    }
}



button{
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #FFD152;
    font-family: Roboto;
    color:  #282627;
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;

}

i{
    font-size: 42px;
    letter-spacing: 14px;
}

/* Navigation Panel */

nav{
    height: 60px;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    
}

nav ul{
    padding: 0 10px;
    margin: 0;
}
nav li{
    display: inline;
   line-height: 60px;
    
}

nav a{
    display: inline-block;
    margin-right: 20px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    
    color:  #8D8273;
    transition: 1s;
}


nav a:hover{
    color: #6c6c;
}

nav a#toggle-btn{
    display: none;
}
nav a#toggle-btnAdmin{
    display: block;
    padding: 20px;
}

@media screen and (max-width: 580px){
    nav {
        height: auto;
        border-bottom: 0;
    }

    nav ul{
        display: none;
        height: auto;
    }

    nav li{
        width: 100%;
        float: left;
        position: relative;
    }

    nav a{
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #282627;
        color:  #fff;
    }

    nav a:hover{
        color: #6c6c;
    }

    nav a#toggle-btn:after{
        content:"|||";
        transform: rotate(-90deg);
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;  
    }

    nav a#toggle-btn{
        display: block;
        background: #282627;
        color:  #fff;
        width: 100%;
        position: relative;
    }

    .menu:before, .menu:after{
        content: "";
        display: table;
    }
    .menu1 ul li a{
        background-color: rgba(200,199,255,0.6); 
        border-bottom: 1px solid grey;
    }
    .menu1 ul li a:hover{
        background-color: rgba(200,199,255,0.4); 
        border-bottom: 1px solid #0FA;
    }

    .menu:after{
        clear: both;
    }
    
    .menu{
        zoom: 1;
    }
}
.menu1{
    position: relative;
    background-color: rgba(200,199,255,0.6);
    
}


.menu1 ul li a{
    color: #000;
    font-weight: bolder;

}
nav .menu1{
    display: block;
}

input:focus{
    border: 5px solid #aaffdd;
    outline: none;
    
}
form button:hover{
    background-color: #ccc;
    cursor: pointer;
}


@media screen and (max-width: 580px){
    input::placeholder, textarea::placeholder{
        font-size: 12px;
    }
}
input{
    width: 80%;
    
     margin: 2em 0;
    background: rgba(200,199,255,0.6);
    border: 2px solid blue;
    padding: 20px;
    font-family: Roboto;
    font-weight: bolder;
    color: #fff;

}

textarea{
    width: 80%;
    height: 200px;
     margin: 2em 0;
    background: rgba(200,199,255,0.6);
    border: 2px solid blue;
    padding: 20px;
    font-family: Roboto;
    font-weight: bolder;
    color: #fff;

}

input:focus, textarea:focus{
    border: 5px solid #AEE;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 800;
}


.section-upload {
    width: 100%;
    
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background: rgba(200,200,80,0.9);
    background-repeat: no-repeat;  
    
    background-attachment: fixed;
    background-size: cover;
    
    overflow-x: hidden;
}

.section-upload .container{
    margin-top: 20vh;
    margin-bottom: 20vh
}



@media only screen and (max-width: 580px){

   
    .section-upload h2{
        font-size: 24px;
    }

    .section-upload p{
        color: white;
        
    }
    .section-upload .container{
    margin-top: 10vh;
}
}
.section-upload p #error{
    color: black;
}
.logout{
    float: right;
   color: #009f8b;
   border: 2px solid #FFD152;
   padding-left: 20px;
   border-radius: 4px;

}

